@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <a href="./GoodPayloadExample">Good Payload Example</a>
    <br/>
    <a href="./BadPayloadExample">Bad Payload Example</a>
</div>